<h1>YES BANK </h1>
<h2>Register form</h2>
<div class="container rl">

    
    <div class="vc">
        
     <form [formGroup]="registerform" (ngSubmit)="register()">
            <input type="text" placeholder="Ennter username" name="uname"  class="tx"id="uname" formControlName="uname"><br>
            <div *ngIf="(this.registerform.get('uname').touched || this.registerform.get('uname').dirty)&& this.registerform.get('uname').errors">
                invalid username
            </div>
            <input type="text" placeholder="Ennter accno" name="accno" class="tx"id="acn" formControlName="acno"><br>
            <div *ngIf="(this.registerform.get('acno').touched || this.registerform.get('acno').dirty)&& this.registerform.get('acno').errors">
                invalid username
            </div>
            <input type="password" placeholder="Ennter password" name="pwd" class="tx" id="pwd" formControlName="pwd">
            <br>
            <input type="submit" class="btn btn-success bb cl"  value="Register"><br>
            <a routerLink="">LogIn</a>
            
      </form>
        

    </div>
</div>

