<h1>YES BANK </h1>
<h2>Register form</h2>
<div class="container rl">

    
    <div class="vc">
        
     
        <input type="text" placeholder="Ennter username"  class="tx"id="uname" [(ngModel)]="uname"><br>
            <input type="text" placeholder="Ennter accno"  class="tx"id="acn" [(ngModel)]="accno"><br>
            <input type="password" placeholder="Ennter password"class="tx" id="pwd" [(ngModel)]="pwd">
            <br>
            <button class="btn btn-success bb cl"  (click)="register()">Register</button>
            
        
        

    </div>
</div>

